*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.rdb
*.jpg
.DS_Store
.idea
.project
.strong-pm
coverage
dist
node_modules
output/*
uploads/*
test
npm-debug.log
pm2.json
.tmp
artillery_report_*.json